* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

section {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.title {
  margin-top: 45px;
}

form {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1.5rem;
}

form input {
  font-size: 1.5rem;
  height: 50px;
  width: 200px;
  padding: 0 10px;
  outline: none;
  border: noen;
  border-radius: 8px;
}

p {
  font-size: 1.25rem;
}
